.banner {
    background-image: url(../img/banner.jpg);
    background-position: bottom center;
    background-size: cover;
    padding: 8% 4% 2% 4%;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

.banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.3;
    z-index: -1;
}

.menu {
    background-color: rgb(4, 87, 1);
    z-index: 2;
}

.logo{
    padding: 5%;
}

.zoom{
    transition: transform 0.5s;
    cursor: pointer;
}

.zoom:hover{
    transform: scale(1.1);
}

.plato:hover{
    opacity: 70%;
}

